<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f5f5f5;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    td {
      width: 80px;
      height: 80px;
      border: 2px solid #333;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    button {
      width: 80px;
      height: 80px;
      cursor: pointer;
    }

    td:hover {
      background-color: #eee;
    }

    td:empty:before {
      content: "";
    }
  </style>
  <title>Tic Tac Toe</title>
</head>
<body>
  <div><h1>Tic Tac Toe</h1></div>
  <div>
    <% if session[:current_user] %>
      <div><h1><%= session[:current_player] %>(You) :- <%= session[:current_user] %></h1></div>
      <div><h1><%= session[:opponent_player] %> :- <%= session[:opponent] %></h1></div>
    <% else %>
      <%= form_for @game do |f| %>
        <% if @game.id.nil? %>
          <%= f.label :x_player_name, 'Name:' %>
          <%= f.text_field :x_player_name, placeholder: 'Player X' %>
        <% else %>
          <%= f.label :o_player_name, 'Name:' %>
          <%= f.text_field :o_player_name, placeholder: 'Player O' %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    <% end %>
  </div>

  <% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
  <% end %>

  <div id='test'></div>
  <% player = session[:game]['turn'] == 'X' ? 'Player X' : 'Player O' %>
  <table id="<%= "#{session[:current_player]}_#{session[:game]['id']}" %>">
    <% session[:game]['board'].each_with_index do |row, i| %>
      <tr>
        <% row.each_with_index do |cell, j| %>
          <td id="<%= "#{session[:current_player]}_#{session[:game]['id']}_#{i}_#{j}" %>">
            <% if !cell && session[:current_player] == player && session[:opponent] %> 
              <%= button_to '',end_turn_path(row: i, col: j), :method => :post %>
            <% else %>
              <%= cell %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if session[:game]['result'] %>
    <p>Game Over! Winner: <%= session[:game]['result'] %></p>
  <% end %>
  <% unless session[:game]['id'].nil? %>
    <%= link_to 'reset', reset_path %>
  <% end %>
</body>
</html>
